<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css"  media="screen,projection"/>
 
    <link
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    
    <title>Register</title>
</head>
<body>

<container>
    <div class="header">
    <h1 class="reg">Please Register</h1>

     
    <ul>
        <% if(typeof errors != 'undefined') 
        { %> <% errors.forEach(error=>{ %>
            <li><%error.message %></li>
            <%  }) %> <% } %>
    </ul>


<form class="form" action="/users/register" method="POST">
    <div>
        <input type="text" id="name" name="name" placeholder="Name" required/>
    </div>
    <div>
        <input 
        type="email" 
        id="email" 
        name="email" 
        placeholder="Email" 
        required/>
    </div>
    <div>
        <input 
        type="password" 
        id="password" 
        name="password" 
        placeholder="Password" 
        required/>
    </div>
    <div>
        <input 
        type="password" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password" 
        required/>
    </div>
    <div class="btn btn-primary">
        <input 
        type="submit" value="Register"/>
    </div>

    <a href="/users/login">Already registered? Login here</a>
</form>
</div>
</container>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="public/js/materialize.min.js"></script>
</body>
</html>