

body {
    background-image: url(../images/books.jpeg);
    font-family: "ITC Serif Gothic", Lato;
  }

#siteName {
    font-size: 30px;
    color: whitesmoke;
}

#header {
    text-align: center;
    color:white;
    text-shadow: 2px 2px lightslategray;
    padding: 15px;
}

.siteName {
  color: #fff;
  text-shadow: 2px 2px lightslategray;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 1.75em;
  left: -2em;
  right: -2em;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  
}

.namePlate {
    font-size: 25px;
    text-align: center;
}
  
.figure {
    text-align: center;
     background-color: rgba(138, 108, 63, 0.8);
    /*border: 2px solid black;*/
    color: black;
    padding: 10px;
   /* width: 500px;*/
    display: block;
}
  
.Pics{
    height: 300px;
    width: auto;
    margin: auto;
    display: block;
    padding: 5px;
}
    
.logo {
    width: 30px;
    margin: 5px;
}

.booksearch {
    background-color: rgb(119, 136, 153, 0.8);
    width: 100%;
    margin: auto;
}

.form-group {
    background-color: rgb(245, 245, 220, 0.8);
    padding-left: 2%;
}

#submitButton {
    margin: auto;
}
  

  @media only screen and (max-width: 500px) {
    .Pics {
      width: 150px;
    }
  }
